body {
    background: url(../images/maxresdefault.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

.time-selector{
    float: right;
    width: 100px;
    margin-left: 15px;
}

.form{
    margin: 50px;
    padding: 30px;
    border: 1px solid black;
    width: 95%;
    background: rgba(220, 220, 220, 0.8)
}

.time{
    margin-left: 15px;
}

h2{
    font-size: 25px;
    background-color: black;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

h3{
    font-size: 25px;
    background-color: black;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.table{
    margin: 50px;
    padding: 30px;
    border: 1px solid black;
    width: 95%;
    background: rgba(220, 220, 220, 0.8)
}

.jumbotron{
    background: lightgrey;
    border-bottom: 3px solid black;
}